@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Splat-title";
    src: url("/assets//fonts/SplatoonTitle.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Splat-text";
    src: url("/assets/fonts/SplatoonText.otf");
    font-style: normal;
    font-weight: normal;
}

/* Language Fonts */
/* Japan */
@font-face {
    font-family: "Kurokane";
    src: url("/assets/fonts/JPja/Kurokane.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Rowdy";
    src: url("/assets/fonts/JPja/Rowdy.otf");
    font-style: normal;
    font-weight: normal;
}

/* Chinese (Simplified) */
@font-face {
    font-family: "HanyiZongyi";
    src: url("/assets/fonts/CNzh/hanyi_zongyi.ttf");
    font-style: normal;
    font-weight: normal;
}

/*
ttc files are not supported by all browsers
@font-face {
    font-family: "HuakangZongyi";
    src: url("/assets/fonts/CNzh/huakang_xinzongyi.ttc");
    font-style: normal;
    font-weight: normal;
} */

/* Korean */
@font-face {
    font-family: "KCUBEr";
    src: url("/assets/fonts/KRko/AsiaKCUBE-R.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "KERINm";
    src: url("/assets/fonts/KRko/AsiaKERIN-M.otf");
    font-style: normal;
    font-weight: normal;
}

/* Chinese (Traditional) */
@font-face {
    font-family: "DFPT_AZ5";
    src: url("/assets/fonts/TWzh/DFPT_AZ5.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "DFPT_ZY9";
    src: url("/assets/fonts/TWzh/DFPT_ZY9.otf");
    font-style: normal;
    font-weight: normal;
}

body, select, input {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tab, .category-title, .title-font, .saved-tag {
    font-family: 'Splat-title';
}

body[lang="JPja"] #plate-modal,
body[lang="JPja"] #plate-modal select,
body[lang="JPja"] #plate-modal input,
option[value="JPja"] {
    font-family: 'Splat-text', 'Kurokane';
}

body[lang="JPja"] #plate-modal .tab,
body[lang="JPja"] #plate-modal .category-title,
body[lang="JPja"] #plate-modal .title-font,
body[lang="JPja"] #plate-modal .saved-tag {
    font-family: 'Splat-title', 'Rowdy';
}

body[lang="KRko"] #plate-modal,
body[lang="KRko"] #plate-modal select,
body[lang="KRko"] #plate-modal input,
option[value="KRko"] {
    font-family: 'Splat-text', 'KERINm';
}

body[lang="KRko"] #plate-modal .tab,
body[lang="KRko"] #plate-modal .category-title,
body[lang="KRko"] #plate-modal .title-font,
body[lang="KRko"] #plate-modal .saved-tag {
    font-family: 'Splat-title', 'KCUBEr';
}

body[lang="CNzh"] #plate-modal,
body[lang="CNzh"] #plate-modal select,
body[lang="CNzh"] #plate-modal input,
option[value="CNzh"] {
    font-family: 'Splat-text', "HanyiZongyi";
}

body[lang="CNzh"] #plate-modal .tab,
body[lang="CNzh"] #plate-modal .category-title,
body[lang="CNzh"] #plate-modal .title-font,
body[lang="CNzh"] #plate-modal .saved-tag {
    font-family: 'Splat-title', "HuakangZongyi";
}

body[lang="TWzh"] #plate-modal,
body[lang="TWzh"] #plate-modal select,
body[lang="TWzh"] #plate-modal input,
option[value="TWzh"] {
    font-family: 'Splat-text', "DFPT_AZ5";
}

body[lang="TWzh"] #plate-modal .tab,
body[lang="TWzh"] #plate-modal .category-title,
body[lang="TWzh"] #plate-modal .title-font,
body[lang="TWzh"] #plate-modal .saved-tag {
    font-family: 'Splat-title', "DFPT_ZY9";
}

body #plate-modal,
body #plate-modal .tab,
body #plate-modal .category-title,
body #plate-modal .title-font,
body #plate-modal .saved-tag {
    font-family: 'Splat-title', 'Splat-text', 'Rowdy', 'Kurokane', 'HanyiZongyi', 'HuakangZongyi', 'DFPT_AZ5', 'DFPT_ZY9', 'KCUBEr', 'KERINm', sans-serif;
}

#languageSelector {
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 3;
}

body #plate-modal {
    font-family: 'Splat-title', 'Splat-text', 'Rowdy', 'Kurokane', 'HanyiZongyi', 'HuakangZongyi', 'DFPT_AZ5', 'DFPT_ZY9', 'KERINm', 'KCUBEr', sans-serif;
}


@keyframes slideUpFull {
    from {
        transform: translateY(100%); /* 시작 위치 */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* 최종 위치 */
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px); /* 시작 위치 */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* 최종 위치 */
        opacity: 1;
    }
}

@keyframes slideLeftFull {
    from {
        transform: translateX(100%); /* 시작 위치 */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* 최종 위치 */
        opacity: 1;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(40px); /* 시작 위치 */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* 최종 위치 */
        opacity: 1;
    }
}

@keyframes slideRightFull {
    from {
        transform: translateX(-100%); /* 시작 위치 */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* 최종 위치 */
        opacity: 1;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-40px); /* 시작 위치 */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* 최종 위치 */
        opacity: 1;
    }
}
