@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Splat-title";
    src: url("/assets/fonts/SplatoonTitle.otf") format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Splat-text";
    src: url("/assets/fonts/SplatoonText.otf") format('opentype');
    font-style: normal;
    font-weight: normal;
}

/* Language Fonts */
/* Korean */
@font-face {
    font-family: "KCUBEr";
    src: url("/assets/fonts/KRko/AsiaKCUBE-R.otf") format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "KERINm";
    src: url("/assets/fonts/KRko/AsiaKERIN-M.otf") format('opentype');
    font-style: normal;
    font-weight: normal;
}

body[lang="KRko"],
body[lang="KRko"] select,
body[lang="KRko"] input,
option[value="KRko"] {
    font-family: 'Splat-text', 'KERINm';
}

body[lang="KRko"] .tab,
body[lang="KRko"] .category-title,
body[lang="KRko"] .title-font {
    font-family: 'Splat-title', 'KCUBEr';
}

@keyframes slideUpFull {
    from {
        transform: translateY(100%); /* 시작 위치 */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* 최종 위치 */
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px); /* 시작 위치 */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* 최종 위치 */
        opacity: 1;
    }
}

@keyframes slideLeftFull {
    from {
        transform: translateX(100%); /* 시작 위치 */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* 최종 위치 */
        opacity: 1;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(40px); /* 시작 위치 */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* 최종 위치 */
        opacity: 1;
    }
}

@keyframes slideRightFull {
    from {
        transform: translateX(-100%); /* 시작 위치 */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* 최종 위치 */
        opacity: 1;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-40px); /* 시작 위치 */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* 최종 위치 */
        opacity: 1;
    }
}